data/stats/effec1.quest.compil.csv
data/stats/effec2.quest.compil.csv
data/stats/countries.HDI.csv
data/stats/usages.effec2.csv
data/stats/usages.effec3.csv
data/stats/usages.effec1.csv
data/stats/effec3.quest.compil.csv
output/.DS_Store
data/.DS_Store
.DS_Store
Rapports/Rapport UE Statistiques.docx
data/TRHAA/RR.xlsx
aaa
data/stats/output_df_small.csv
input/TRHAA/DATA Fr_ParisIDF_TtSaufSorbonne_6335.xlsx
input/TRHAA/test extract.xlsx
.gitignore
input/TRHAA/TRHAA_Lookup_Fr_ParisIDF_SorbonneP1_4414.xlsx
input/TRHAA/TRHAA_Lookup_Fr_TtSaufParis_7411.xlsx
input/TRHAA/URL_List_Fr_TtSaufParis_7411.xlsx
input/TRHAA/_old/2URL list Fr_ParisIDF_TtSaufSorbonne_6335.xlsx
input/TRHAA/_old/France_ParisIDF_TTSaufSorbonne_P1_Page4.xlsx
input/TRHAA/_old/France_ParisIDF_TTSaufSorbonne_P1_Page3.xlsx
input/TRHAA/_old/France_ParisIDF_TTSaufSorbonne_P1_Page2.xlsx
input/TRHAA/_old/France_ParisIDF_TTSaufSorbonne_P1_Page1.xlsx
input/TRHAA/_old/France_ParisIDF_Sorbonne_Paris1_Page4.xlsx
input/TRHAA/_old/France_ParisIDF_Sorbonne_Paris1_Page3.xlsx
input/TRHAA/_old/France_ParisIDF_Sorbonne_Paris1_Page2.xlsx
.gitignore
input/TRHAA/_old/France_ToutSaufParis_Page5.xlsx
input/TRHAA/test.xlsx
input/TRHAA/TRHAA_Lookup_Fr_ParisIDF_TtSaufSorbonneP1_6335.xlsx
input/TRHAA/TRHAA_Lookup_TtSaufFr_NonRenseignes_60.xlsx
input/TRHAA/URL_List_Fr_ParisIDF_TtSaufSorbonne_6335.xlsx
input/TRHAA/URL_List_TtSaufFrance_NonRenseigne_60.xlsx
output/trhaa/Rapport sur TRHAA.docx
input/TRHAA/~$Liste_URL_WebPages_par1000.xlsx
input/TRHAA/RR.xlsx
input/TRHAA/RR.xlsx
output/trhaa/~$pport sur TRHAA.docx
input/TRHAA/DATA for Fr_ParisIDF_SorbonneP1_4414_0-999.xlsx
.gitignore
input/TRHAA/DATA for Fr_ParisIDF_TtSaufsorbonne_6335.xlsx
input/TRHAA/DATA for TtSaufFrNonRenseignes_60.xlsx
input/TRHAA/URL_List_Fr_ParisIDF_Sorbonne_4414_1-999.xlsx
input/TRHAA/URL_List_Fr_ParisIDF_Sorbonne_4414_1000-3415.xlsx
input/TRHAA/URL_List_Fr_ParisIDF_Sorbonne_4414.xlsx
input/TRHAA/DATA for Fr_ParisIDF_Sorbonne_4414.xlsx
input/TRHAA/DATA for Fr_ParisIDF_SorbonneP1_4414_1000-3414.xlsx
input/TRHAA/DATA for Fr_TtSaufParis_7411.xlsx
.gitignore
output/trhaa/df_info.rtf
output/trhaa/df_infov2.txt
input/TRHAA/~$DATA for TtSaufFrNonRenseignes_60.xlsx
input/TRHAA/URL_List_Fr_ParisIDF_Sorbonne_4414_1000-3414.xlsx
input/TRHAA/~$URL_List_TtSaufFrance_NonRenseigne_60.xlsx
requirements.txt
input/TRHAA/nat2021.xlsx
input/TRHAA/nat2021.csv
input/TRHAA/DATA for ALL.xlsx
input/TRHAA/~$nat2021.xlsx
input/TRHAA/~$DATA for Fr_ParisIDF_SorbonneP1_4414_0-999.xlsx
Sans titre 2.png
Sans titre 3.png
Screenshot assessment Robin Morana.png
stats.ipynb
trhaa.html
TrhaaV2.html
TrhaaV2.ipynb
TrhaaV3.html
input/TRHAA/RA_P1PS_2021-2022_avec_Annexes.pdf
input/TRHAA/dossier sans titre/URL list Fr_ParisIDF_Sorbonne_4414.otd
output/dataviz/~$voir Techniques de visualisation.docx
output/dataviz/Devoir Techniques de visualisation.docx
output/stats/~$voir UE Statistiques.docx
output/stats/Devoir UE Statistiques Robin Morana.pdf
output/stats/Devoir UE Statistiques.docx
output/trhaa/Evol thèses et mémoire TRHAA (1).png
output/trhaa/Evol thèses et mémoire TRHAA (2).png
output/trhaa/Evol thèses et mémoire TRHAA (3).png
output/trhaa/Rapport sur TRHAA (light) v2.docx
output/trhaa/Rapport sur TRHAA (light) vDelphine.docx
output/trhaa/Rapport sur TRHAA (light).docx
output/trhaa/Rapport sur TRHAA.pdf
Preuve assessment Robin Morana.png
Data Manip in Python - Morana - Advanced.png
