data/stats/effec1.quest.compil.csv
data/stats/effec2.quest.compil.csv
data/stats/countries.HDI.csv
data/stats/usages.effec2.csv
data/stats/usages.effec3.csv
data/stats/usages.effec1.csv
data/stats/effec3.quest.compil.csv
